name: Deploy Vite App to Azure Web App

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20.x"

      - name: Install dependencies & build
        run: |
          npm ci
          npm run build

      # Package only what's needed for runtime
      - name: Prepare deploy folder
        run: |
          mkdir deploy
          cp -r dist package.json package-lock.json deploy/

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_6B0D535F0A524A7E87B17CF6C83C75E0 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_80BE639306C4408899939064C58ABD61 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_526D9461D51849FFB2866E41CBFE32F5 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: "Tailshare"
          slot-name: "Production"
          package: deploy
